 /* ========================================================================================================================================
   Fonts
   ========================================================================================================================================= */

@font-face {
  font-family: 'Glyphicons Halflings';

  src: url('../../assets/fonts/glyphicons-halflings-regular.eot');
  src: url('../../assets/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../../assets/fonts/glyphicons-halflings-regular.woff') format('woff'), url('../../assets/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../../assets/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

@font-face {
  font-family: 'SF UI Text';
  src: url('../../assets/fonts/SF-UI-Text-Light.eot');
  src: url('../../assets/fonts/SF-UI-Text-Light.eot?#iefix') format('embedded-opentype'),
       url('../../assets/fonts/SF-UI-Text-Light.woff') format('woff'),
       url('../../assets/fonts/SF-UI-Text-Light.ttf') format('truetype'),
       url('../../assets/fonts/SF-UI-Text-Light.svg') format('svg'),
       url('../../assets/fonts/SF-UI-Text-Light.svg#SF-UI-Text-Light.eot') format('svg');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'SF UI Text';
  src: url('../../assets/fonts/SF-UI-Text-Regular.eot');
  src: url('../../assets/fonts/SF-UI-Text-Regular.eot?#iefix') format('embedded-opentype'),
       url('../../assets/fonts/SF-UI-Text-Regular.woff') format('woff'),
       url('../../assets/fonts/SF-UI-Text-Regular.ttf') format('truetype'),
       url('../../assets/fonts/SF-UI-Text-Regular.svg') format('svg'),
       url('../../assets/fonts/SF-UI-Text-Regular.svg#SF-UI-Text-Regular.eot') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SF UI Text';
  src: url('../../assets/fonts/SF-UI-Text-Semibold.eot');
  src: url('../../assets/fonts/SF-UI-Text-Semibold.eot?#iefix') format('embedded-opentype'),
       url('../../assets/fonts/SF-UI-Text-Semibold.woff') format('woff'),
       url('../../assets/fonts/SF-UI-Text-Semibold.ttf') format('truetype'),
       url('../../assets/fonts/SF-UI-Text-Semibold.svg') format('svg'),
       url('../../assets/fonts/SF-UI-Text-Semibold.svg#SF-UI-Text-Semibold') format('svg');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'SF UI Text';
  src: url('../../assets/fonts/SF-UI-Text-Bold.eot');
  src: url('../../assets/fonts/SF-UI-Text-Bold.eot?#iefix') format('embedded-opentype'),
       url('../../assets/fonts/SF-UI-Text-Bold.woff') format('woff'),
       url('../../assets/fonts/SF-UI-Text-Bold.ttf') format('truetype'),
       url('../../assets/fonts/SF-UI-Text-Bold.svg') format('svg'),
       url('../../assets/fonts/SF-UI-Text-Bold.svg#SF-UI-Text-Bold') format('svg');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'FontName';
  src: url('../../assets/fonts/FontName.eot');
  src: url('../../assets/fonts/FontName.eot?#iefix') format('embedded-opentype'),
       url('../../assets/fonts/FontName.woff') format('woff'),
       url('../../assets/fonts/FontName.ttf') format('truetype'),
       url('../../assets/fonts/FontName.svg') format('svg'),
       url('../../assets/fonts/FontName.svg#FontName') format('svg');
  font-weight: normal;
  font-style: normal;
}